<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='homepage.css')}}">

	<style type="text/css">
		select{
			border: none;
			font-family: 'Montserrat', sans-serif;
			background: transparent;
			-webkit-appearance: none;
    		-moz-appearance: none;
    		text-align: right;
    		text-indent: 1px;
    		text-overflow: '';	
    		font-size: 20px;
    		padding-left: 20px;
		}
		select:focus{
			outline: none;
		}
	</style>

</head>
<body>
	<nav>
		<ul>
			<li><a>Home</a></li>
			<li><a href="{{url_for('cabsharesearch')}}">Cab Sharing</a></li>
			<li><!-- <a>Categories</a> -->
				<!-- <ul>
					<li><a>Vehicles</a></li>
					<li><a>Crafts</a></li>
					<li><a>Furniture</a></li>
					<li><a>Electronics</a></li>
					<li><a>Books</a></li>
				</ul> -->
				<form method="POST">
				<select onchange="this.form.submit();" name="catagoryselection">
					<option>Category</option>
					<option>Vehicles</option>
					<option>Crafts</option>
					<option>Furniture</option>
					<option>Electronics</option>
					<option>Books</option>
				</select></form>
			</li>
			<li><a href="{{url_for('sellitem')}}">Sell item</a></li>
			<li><a>Contact us</a></li>
			<li><a>About</a></li>
			<li><a>Settings</a>
				<ul>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
					<li><a href="{{url_for('myaccount')}}">My account</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</body>
</html>